/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

/* Custom CSS */
:root {
  --spacing-default: 20px;
  --color-primary: #c678dd;
}

body {
  padding: var(--spacing-default);
}

section {
  margin: var(--spacing-default) 0;
  padding: var(--spacing-default);
  border: 1px solid var(--color-primary);
}

h3 {
  cursor: pointer;
}

.code {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 1s;
}

.code-section {
  position: relative;
  align-self: end;
  min-height: 0;
  background: lightgray;
  transition: visibility 1s;
  visibility: hidden;
}

.code.is-show {
  grid-template-rows: 1fr;
}

.code.is-show .code-section {
  visibility: visible;
}

button {
  padding: 10px var(--spacing-default);
  cursor: pointer;
  background: none;
  border: 3px solid white;
  position: absolute;
  top: var(--spacing-default);
  right: var(--spacing-default);
  opacity: 25%;
  color: white;
}
button:hover {
  transition: all 0.25s ease-in-out;
  opacity: 50%;
}
